/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --odin-navy-blue: #1f2937;
  --odin-white: #f9faf8;
  --odin-light-grey: #e5e7eb;
  --odin-light-blue: #3882f6;
}

button {
  cursor: pointer;
}

/*Header*/

.header {
  background-color: var(--odin-navy-blue);
  color: white;
  box-sizing: border-box;
  padding: 1em 8em 5em;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.header-logo,
.header-title {
  color: var(--odin-light-grey);
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
}

.header-nav__list {
  display: flex;
  column-gap: 2em;
}

.nav-link {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: var(--odin-light-grey);
}

.header__bottom {
  display: flex;
  column-gap: 3em;
}

.header-title {
  font-size: 48px;
}

.header__bottom-tagline {
  width: 450px;
}

.tagline-subtext {
  font-size: 18px;
}

.header-sign-up-button {
  background-color: var(--odin-light-blue);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  font-weight: 700;
}

.header__bottom-img-placeholder {
  background-color: #6d737e;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/*Main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section {
  margin-top: 2em;
  margin-bottom: 15em;
}

.information-title {
  margin-bottom: 1em;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: var(--odin-navy-blue);
}

.content-flexbox {
  display: flex;
  gap: 3em;
}

.content {
  width: 150px;
  text-align: center;
}

.content__image-container {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 4px solid var(--odin-light-blue);
  border-radius: 12px;
}

.content__subtext {
  line-height: 1.15;
  margin-top: 0.5em;
  color: #535b60;
}

.main__quote {
  width: 800px;
  display: flex;
  background-color: var(--odin-light-grey);
  margin-bottom: 10em;
}

.main__quote-text {
  font-size: 36px;
  color: var(--odin-navy-blue);
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.quote-text__span {
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}

.main__call {
  background-color: var(--odin-light-blue);
  color: var(--odin-white);
  box-sizing: border-box;
  width: 1000px;
  padding: 2em 6em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-sign-up-button {
  border: 1px solid var(--odin-white);
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding: 4px 20px;
  font-weight: 700;
}

/*Footer*/

.footer {
  background-color: var(--odin-navy-blue);
  color: var(--odin-white);
  box-sizing: border-box;
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
