/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --odin-navy-blue: #1f2937;
  --odin-white: #f9faf8;
  --odin-light-grey: #e5e7eb;
  --odin-light-blue: #3882f6;
}

button {
  cursor: pointer;
}

/*Header*/

.header {
  background-color: var(--odin-navy-blue);
  color: white;
  box-sizing: border-box;
  padding: 1em 8em 5em;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.header-logo,
.header-title {
  color: var(--odin-light-grey);
}

.header-logo {
  font-weight: 700;
  font-size: 24px;
}

.header-nav__list {
  display: flex;
  column-gap: 2em;
}

.nav-link {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: var(--odin-light-grey);
}

.header__bottom {
  display: flex;
  column-gap: 3em;
}

.header-title {
  font-size: 48px;
}

.header__bottom-tagline {
  width: 450px;
}

.tagline-subtext {
  font-size: 18px;
}

.header-sign-up-button {
  background-color: var(--odin-light-blue);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 0.5em;
  font-weight: 700;
}

.header__bottom-img-placeholder {
  background-color: #6d737e;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/*Main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
