/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --odin-navy-blue: #1f2937;
  --odin-white: #f9faf8;
  --odin-light-grey: #e5e7eb;
  --odin-light-blue: #3882f6;
}
